#splash-screen {
    background: var(--bgColor1);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
}
#splash-screen *{
    user-select: none;
    pointer-events: none;
}

#splash-content-container {
    width: 10vw;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash-img-container {
    width: fit-content;
    height: fit-content;

    position: relative;
}

#splash-img-container img:nth-child(1) {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash-img-container #splash-loading-text {
    position: absolute;

    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
    max-width: 50vw;
    min-width: 120%;

    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    animation: splashLoadingTextAnim .5s forwards;
}

@keyframes splashLoadingTextAnim {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

#splash-img-container #splash-loading-text * {
    font-size: 8px;
    color: var(--color1);
}

@keyframes splashImgAnim {
    0% {
        opacity: 0;
        filter: brightness(40%);
    }

    100% {
        opacity: 1;
        filter: brightness(100%);
    }
}

#splash-kr-logo {
    height: 30%;

    animation: splashImgAnim 1s forwards ease-out;

}

#splash-loading-circle {
    width: 160px;
    animation-delay: .5s;
    animation: splashImgAnim 5s forwards ease-out;
    filter: brightness(.5);
}

#splash-loading-bar {
    width: 70%;
    height: 5px;
    border: 1px solid var(--color1);
    margin-top: 10px;
    margin-bottom: 5px;
}

#splash-loading-bar-fill {
    background: var(--color1);
    height: 100%;

    transition: width .5s easin;
}

/* Vanta Style */
.vanta-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}