#hero-section {
    --maxHeroHeight: 90vh;
    width: 100vw;
    min-height: fit-content;
    max-height: fit-content;

    background: var(--bgColor1);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    box-sizing: border-box;
}

#hero-section * {
    width: 100%;
    /* border: 1px solid green; */
}


#socials-container {
    width: 15%;
    max-width: 100px;
    height: var(--maxHeroHeight);
}

#hero-main-content-container {
    min-height: var(--maxHeroHeight);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

#hero-name-container h1 {
    font-size: calc(5vw+30px);
}

#hero-cta-container {
    display: flex;

    margin-top: 30px;
}

#hero-cta-container .my-default-btn {
    width: 40%;
    max-width: 150px;
    min-width: 100px;
    padding: 0;
}

#hero-featured-container {
    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    max-width: fit-content;

    background: var(--bgColor1);

    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-featured-content {
    height: 60%;
    width: 60%;
    max-width: 200px;
    min-height: 400px;
    min-width: 200px;
    border: 2px solid gray;
}

@media screen and (max-width: 500px) {
    #hero-section {
        padding: 0 20px;
        justify-content: center;
        height: fit-content;
    }

    #hero-main-content-container {
        width: 100%;
    }

    #hero-main-content-container * {
        justify-content: center;
        text-align: center;
    }
}