#hero-section {
    --maxHeroHeight: 90vh;
    width: 100vw;
    min-height: fit-content;
    max-height: fit-content;

    background: var(--bgColor1);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    box-sizing: border-box;

    /* background: url(../../res/images/svg/grain-bg.svg); */
    background-attachment: fixed;
}

#hero-section * {
    width: 100%;
    /* border: 1px solid green; */
}


#socials-container {
    width: fit-content;
    max-width: 100px;
    height: calc(var(--maxHeroHeight)-10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    justify-self: flex-start;

    padding: 25px;

    border-right: 1px solid white;
}

#hero-section .social {
    width: 20px;
    height: 20px;

    margin: 20px 0;

    cursor: pointer;
}

#hero-section .social img {
    width: 100%;
    height: 100%;
}

#hero-main-content-container {
    min-height: var(--maxHeroHeight);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

#hero-name-container {
    margin-bottom: 40px;
    min-width: fit-content;
}

#hero-name-container h1 {
    font-size: calc(2vw + 40px);
}

#hero-p-container {
    max-width: 80%;
}

#hero-cta-container {
    display: flex;

    margin-top: 30px;
}

#hero-cta-container .my-default-btn {
    width: 40%;
    max-width: 150px;
    min-width: 100px;
    padding: 0;
}

#hero-featured-container {
    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    max-width: fit-content;
    min-width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;
}



@media screen and (max-width: 600px) {
    #hero-section {
        padding: 0 20px;
        justify-content: center;
        height: fit-content;
    }

    #socials-container {
        display: none;
    }

    #hero-main-content-container {
        width: 100%;
        align-items: center;
    }

    #hero-main-content-container * {
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #hero-center-socials-container {
        align-self: center;
    }
}

/* Mobile */
#hero-center-socials-container {
    margin-top: 50px;
    width: 50%;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
}