#hero-section {
    --maxHeroHeight: 90vh;
    width: 100vw;
    min-height: fit-content;


    /* background: linear-gradient(to top, rgb(18, 18, 18), var(--bgColor1)); */
    background-attachment: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    box-sizing: border-box;

    position: relative;

    animation: portfolioAnim .6s 2s;
}

@keyframes heroAnim {

    0%,
    100%,
    9% {
        opacity: 0;
        filter: none;
    }

    10% {
        filter: blur(10px);
        opacity: 1;
    }

}

#hero-section * {
    width: 100%;
    /* border: 1px solid green; */
    z-index: 1;
}

#random-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#socials-container {
    width: fit-content;
    max-width: 100px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    justify-self: flex-start;

    padding: 25px;
    margin-right: 15px;

    border-right: 1px solid white;
}

#hero-section .social {
    width: 20px;
    height: 20px;

    margin: 20px 0;

    cursor: pointer;
}

#hero-section .social img {
    width: 100%;
    height: 100%;
}

#hero-section .social img:hover {
    filter: brightness(200%);
}

#hero-main-content-container {
    min-height: var(--maxHeroHeight);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

#hero-name-container {
    margin-bottom: 40px;
    min-width: fit-content;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 129.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    animation: heroNameAnim .5s forwards;
    animation-delay: 1s;

    opacity: 0;

    user-select: none;

}

#hero-name-container h1 {
    font-size: calc(2vw + 40px);
}

@keyframes heroNameAnim {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero-p-container {
    max-width: 80%;

    animation: heroNameAnim .5s forwards;
    animation-delay: 0s;
}

#hero-cta-container {
    display: flex;

    margin-top: 30px;
}

#hero-cta-container .my-default-btn {
    width: 40%;
    max-width: 130px;
    min-width: 100px;
    min-height: fit-content;
    padding: 0;
}

#hero-featured-container {
    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    max-width: fit-content;
    min-width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px;

}

@media screen and (max-width: 600px) {
    #hero-section {
        padding: 0 20px;
        justify-content: center;
        height: fit-content;
    }

    #socials-container {
        display: none;
    }

    #hero-main-content-container {
        width: 100%;
        align-items: center;
    }

    #hero-main-content-container * {
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    #hero-center-socials-container {
        align-self: center;
    }
}

/* Mobile */
#hero-center-socials-container {
    margin-top: 50px;
    width: 50%;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
}

#test-poly {
    background: green;
    stroke: red;
}