#about-section {
    margin: 10vh 0;
    padding: 10vh 0;
    margin-bottom: 0;
    /* background: var(--bgColor1); */


    height: fit-content;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-me-container {
    width: fit-content;
    min-height: fit-content;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}

#about-me-left,
#about-me-right {
    width: 50%;
    max-width: 50%;
    min-height: 100%;
    min-width: 360px;
}

#about-me-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 30px;
    box-sizing: border-box;
    width: 30%;
}

#about-me-info-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    color: white;
}

#about-me-info-container .about-info {
    padding: 5px;
    margin: 10px 0;
    max-width: 90vw;

    display: flex;
    flex-direction: column;

    opacity: 0;
    animation: aboutInfoAnim .5s forwards;
}

#about-me-info-container .about-info .about-info-categ {
    /* color: var(--color1); */
    background: white;
    color: black;
    padding: 3px 10px;
    border-radius: 5px;
}

#about-me-info-container .about-info .about-info-container {
    margin-top: 10px;
}

#about-me-info-container .about-info .about-info-key {
    display: flex;
    justify-self: stretch;

    box-sizing: border-box;

    width: 100px;
}


#about-me-info-container .about-info li {
    display: flex;
    flex-wrap: wrap;
}

#about-me-info-container .about-info p {
    margin-left: 10px;
    padding-left: 5px;
    max-width: 50%;
    border-left: 1px solid var(--color1);
}

@keyframes aboutInfoAnim {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#about-me-img-container {
    padding: 10px;
    width: 350px;
    max-width: 100%;
    height: 350px;
    min-height: 300px;

    background-position-y: 20%;
    background-position-x: 90%;
    background-size: 120%;
    background-repeat: no-repeat;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    opacity: .7;
    box-shadow: 0px 0px 25px 6px rgba(90, 90, 247, .5) inset;

    transition: all .5s ease;

    margin-bottom: 10%;

    animation: aboutMeImgContainerAnim .6s forwards 1s ease-in;
    opacity: 0;
}

@keyframes aboutMeImgContainerAnim {
    0% {
        height: 0;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    100% {
        height: 350px;
        opacity: 1;
    }
}

#about-me-img-container .half-border {

    width: 50%;
    height: 50%;

    position: absolute;

    border: 5px solid var(--color1);

    transition: all .5s ease-out;


}

#about-me-img-container .half-border:nth-child(2) {
    border-left: none;
    border-bottom: none;
    top: -5%;
    right: -5%;
}

#about-me-img-container .half-border:nth-child(3) {
    border-top: none;
    border-right: none;
    bottom: -5%;
    left: -5%;
}

#about-me-img-container .half-border:nth-child(4) {
    width: 30%;
    height: 30%;
    border-color: white;
    border-bottom: none;
    border-left: none;
    border-width: 2px;
    top: 5%;
    right: 5%;
}

#about-me-img-container .half-border:nth-child(5) {
    width: 30%;
    height: 30%;
    border-color: white;
    border-color: white;
    border-top: none;
    border-right: none;
    border-width: 2px;
    left: 5%;
    bottom: 5%;
}

#about-me-img-container:hover {
    background-position-y: 20%;
    background-position-x: 90%;
    background-size: 110%;
}

#about-me-img-container:hover .half-border {
    transform: scale(1.1) translate(-5px, 5px);
}

#about-me-img-container .cover {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background: url(https://i.pinimg.com/736x/6f/0a/3b/6f0a3b527f0e7612b2f8299f5c8d08b1.jpg) rgba(90, 0, 225, 0.5);
    background-size: contain;
    background-blend-mode: multiply;

    position: absolute;
    opacity: .2;
    transition: all .5s;
}

#about-me-img-container:hover .cover {
    opacity: .1;
}

#about-me-right {
    width: 100%;
    height: fit-content;
    max-height: 90%;
    background: rgba(19, 19, 19, .8);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    padding-top: 5% 5%;
    box-sizing: border-box;

    position: relative;
}

#about-me-title-header {
    width: 100%;

    padding: 10px 5%;
    color: var(--color1);

    box-sizing: border-box;
}

/* #about-me-img-container img{
    max-width: 100%;
} */

#about-me-pic {
    width: 20%;
}

#about-me-details-container {
    height: fit-content;
    min-height: fit-content;
    padding: 40px;
}

#about-me-details-container p {
    font-size: calc(.5vw + 15px);
    margin: 20px 0;
}

#about-me-details-container h1 {
    font-size: 3em;

}

#about-me-details-container .underline {
    color: rgb(255, 17, 80);
}

#about-me-details-container .underline::selection {
    background: white;
}

@keyframes cvBtnAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#download-cv-container {
    display: flex;
    justify-content: center;
}

#download-cv-btn {
    width: 200px;
    height: fit-content;
    min-width: fit-content;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);

    padding: 5px 0;

    background: var(--color1);
    color: white;

    transition: all .5s;
}

#download-cv-btn:hover {
    border: 1px solid white;
}

#download-cv-btn.out {
    opacity: 0;
}

#download-cv-btn.in {
    opacity: 1;
    right: 100%;
}