
#about-contact-container {
    margin-top: 10vh;
    width: 100vw;
    min-height: fit-content;

    border: 1px solid var(--color1);
    border-bottom: none;
    background: var(--bgColor1);

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: calc(1vw + 10px);
    font-weight: 100;
    text-align: center;

    padding: 5% 10%;

    box-sizing: border-box;
}

#about-contact-container span {
    font-size: 1em;
    font-family: 'Maria', sans-serif;
    text-transform: uppercase;
}


#about-contact-container h5 {
    font-size: 1.5em;
    margin: 20px 0;
}

#about-contact-container button {
    color: white;

    height: 7vh;

    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: cvBtnAnim 1s forwards;
}
