#skills-section {
    /* background: var(--bgColor2); */

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    box-sizing: content-box;

    position: relative;
    padding: 20vh 0;
    margin: 20vh 0;

    /* background: rgba(21, 21, 21, 1) url(../../res/images/svg/grain-bg.svg); */
    background-size: 30%;
    background-attachment: fixed;

    /* backdrop-filter: blur(3px); */

    border-bottom: 10px solid #353535;
    background: rgba(20, 20, 20, .8);
}

.skills-container-container {
    height: fit-content;
    width: 95%;
    margin: 2px;
    margin-top: 7vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.indicator {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 5px;
}

.skills-container:not(.text) {
    width: 90vw;
    height: 100%;
    /* max-width: 80%; */
    min-width: 80%;
    max-width: 70%;
    min-height: 200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;

    box-sizing: content-box;
}

#skills-section .skills-container.text {
    display: flex;
    flex-wrap: wrap;
    text-wrap: nowrap;
    justify-content: start;
    /* align-items: stretch; */
    width: 80vw;
    padding: 0 3%;
    height: fit-content;
}

@media screen and (max-width: 600px) {
    #skills-section .skill {
        margin: 5px;
    }

    #skills-section .skills-container.text {
        width: 95vw;
    }

    .skills-container {
        justify-content: center;
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .skills-container {
        min-width: 100%;
    }
}