#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
  position: relative;
}

.main-section {
  /* min-width: 100vw;
  min-height: 100vh; */
  min-height: fit-content;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
}

.section-indicator {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 10px;
}
.main-glow:nth-child(1) {
  background: black;
  opacity: 1;
  width: 500px;
  height: 400px;
  left: 0;
  bottom: 0;
  position: fixed;
  filter: blur(400px);
}

.main-glow:nth-child(2) {
  background: black;
  opacity: 1;
  width: 500px;
  height: 400px;
  right: 0;
  bottom: 0;
  position: fixed;
  filter: blur(400px);
}
