body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  background: var(--bgColor1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
  color: inherit;

  scroll-behavior: smooth;
}

*::selection {
  background: var(--color1);
}

:root {
  --bgColor1: #191919;
  --bgColor2: #282828;
  --color1: #F10047;
}

.my-default-btn {
  width: fit-content;
  height: 40px;
  min-height: fit-content;
  border-radius: 5px;

  padding: 3px 10%;

  background: var(--color1);
  color: white;

  cursor: pointer;
}

.page-title-container {
  border-bottom: 1px solid gray;
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: flex-end;

  padding: 10px 50px;

  position: sticky;
  top: 10px
}

.page-title-container span {
  margin: 5px 5vw;
  color: white;
}